 .text{
display:flex;
flex-direction: row;
justify-content: space-between;

 }
 .txt{
 background-color: aqua;
width:24%;
display: flex;
justify-content:center;
 }
 .z{
list-style-type: none;
width:22%;
 }
 .name{
display: flex;
flex-direction: row;
justify-content: space-between;

 }