.bg-back{
      background-color: #ed502e !important;
 }
 .bg-org{
     color: #ed502e !important;
}
 .bg-mult{
      color: #000 !important;
 }
 .hov:hover{
     color: #ed502e ; 
     cursor: pointer;
 }
 .get{
      height: 50px;
      width: 30vh;
 }
 .box{
      height:500px;
 }
 .bg-white{
background-color: #ffffff !important;
 }
 .about1::after{
     width: 100px;
     height: 2px;
     background-color:#ed502e;
     content: "";
     display: inline-block;
     margin-left: 5px;
     }
     .font{
          font-size: 14px;
     }
     .fontlearn{
          font-size: 28px;
     }
     .bi::before{
    display: inline-block;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
     }
     .bi-check2-circle::before{
          content: "\f270";
     }
     .card:hover{
          background-color: #ed502e;
     }
     .card-height{
height:350px;
width: 100%;
     }
   .marg{
     margin-left:100px !important;
     margin-right: 100px !important;
   }
   .margg{
margin-top: 100px;
   }
   .font-size{
     font-size: 20px;
   }
   .fontsize{
     font-size: 15px;
   }