.bg-back{
      background-color: #ed502e !important;
 }
 .bg-mult{
      color: #000 !important;
 }
 .get{
      height: 50px;
      width: 150px;
 }
 .box{
      height:500px;
 }
 .bg-white{
background-color: #ffffff !important;
 }